/*
  *12 Column Fluid Grid System
  *By Tahseen Chowdhury
  *www.tahseenchowdhury.com
 */

/*
 *Columns ------ 12
 *Gap ---------- 3%
 *1u ----------- 5.583333333333333%
 *2u ----------- 14.166666666666666%
 *3u ----------- 22.75%
 *4u ----------- 31.333333333333333%
 *5u ----------- 39.916666666666664%
 *6u ----------- 48.5%
 *7u ----------- 57.083333333333333%
 *8u ----------- 65.666666666666666%
 *9u ----------- 74.25%
 *10u ---------- 82.833333333333333%
 *11u ---------- 91.416666666666666%
 *12u ---------- 100%
 */

 /*Styles for Grid*/

 .row {
   max-width: 950px;
   padding: 10px 55px 55px 55px;
 }

 .column {
   float: left;
   margin-left: 3%;
   min-height: 1px;
 }

 .column:first-child {
   margin: 0; /*The first column of every row has no margin.*/
 }

.col-1u {
  width: 5.583333333333333%;
}

.col-2u {
  width: 14.166666666666666%;
}

.col-3u {
  width: 22.75%;
}

.col-4u {
  width: 31.333333333333333%;
}

.col-5u {
  width: 39.916666666666664%;
}

.col-6u {
  width: 48.5%;
}

.col-7u {
  width: 57.083333333333333%;
}

.col-8u {
  width: 65.666666666666666%;
}

.col-9u {
  width: 74.25%;
}

.col-10u {
  width: 82.833333333333333%;
}

.col-11u {
  width: 91.416666666666666%;
}

.col-12u {
  width: 100%;
}
